@charset "UTF-8";

body{
    background-color: rgb(252, 196, 233);;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}
header{
    color: rgb(135, 7, 209);
}
select#boxsel{
    width: 170px;
}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 10px rgba(177, 133, 140, 0.562);
    width: 500px;
    margin: auto;
}
footer{
    text-align: center;
    font-style: italic;
    color: crimson;
}